<div style="width:100%; height:70px; background-color:#ee373c; float:left;">
	<a href="/" class="header_link"></a>
	<div class="header_form">
  <% if !session[:member].nil? %>
    <%=form_tag('/main/login') do%>
      <%=text_field_tag 'header_userid', nil, :placeholder =>'ID'%>  
      <%=password_field_tag 'header_password', nil, :placeholder =>'password'%>
      <%=submit_tag "login", class:"header_submit"%>
    <% end %>
  <% else  %>
    로그아웃을 여기에 짭니다.
  <% end %>
	</div>
</div>
